:root {
    --white: 	hsl(30, 50%, 99%, 1);
    --lightcream: 	hsl(32, 55%, 94%, 1);
    --cream: 	hsl(36, 42%, 85%,1);
    --lightbrown: 	hsl(22, 42%, 59%, 1);
    --mediumbrown: 	hsl(8, 34%, 29%, 1);
    --darkbrown: 	hsl(19, 32%, 15%, 1);
    --ff-Lora: 'Lora', serif;
    --ff-PlusJakartaSans: 'Plus Jakarta Sans', sans-serif;
    --fw-medium: 500; /*Medium*/
    --fw-semibold: 600; /*Semi Bold*/
    --fw-bold: 700; /*Bold*/
}

h1 {
    font-size: 85px;
    font-family: var(--ff-Lora);
    font-weight: var(--fw-bold);
    color: var(--darkbrown);
}

h2 {
    font-size: 40px;
    font-family: var(--ff-Lora);
    font-weight: var(--fw-bold);
    color: var(--darkbrown);
}

h3 {
    font-size: 30px;
    font-family: var(--ff-Lora);
    font-weight: var(--fw-bold);
    color: var(--darkbrown);
}

h4 {
    font-size: 25px;
    font-family: var(--ff-Lora);
    font-weight: var(--fw-bold);
    color: var(--darkbrown);
}

h5 {
    font-size: 20px;
    font-family: var(--ff-PlusJakartaSans);
    font-weight: var(--fw-semibold);
    color: var(--darkbrown);
}

h6 {
    font-size: 18px;
    font-family: var(--ff-PlusJakartaSans);
    font-weight: var(--fw-semibold);
    color: var(--darkbrown);
}

p, 
span, 
label,
tr, 
td {
    font-size: 15px;
    font-family: var(--ff-PlusJakartaSans);
    font-weight: var(--fw-semibold);
    color: var(--darkbrown);
}

body {
    background-color: var(--lightcream);
}

input {
    font-family: var(--ff-PlusJakartaSans);
    font-weight: var(--fw-bold);
    text-indent: 5px;
    color: var(--darkbrown);
    background-color: var(--white);
}

i {
    margin-right: 10px;
}

textarea {
    width: 400px;
    height: 100px;
    resize: none;
}

button {
    font-size: 15px;
    font-family: var(--ff-PlusJakartaSans);
}

.flash-msg {
    background-color: hsl(22, 42%, 59%, 0.1);
    font-family: var(--ff-PlusJakartaSans);
    font-weight: var(--fw-semibold);
}

/* BUTTONS */
.btn {
    border-radius: 15px;
    padding: 14px 120px;
    font-size: 16px;
    font-family: var(--ff-PlusJakartaSans);
    font-weight: var(--fw-bold);
    color: var(--white);
    background-color: var(--lightbrown);
}

.form-btn {
    width: 100%;
}

.search-btn {
    border-radius: 12px;
    margin-left: 10px;
    padding: 15px 60px;
    font-size: 14px;
}

.update-note-btn {
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 14px;
}

.btn:hover {
    color: var(--white);
    background-color: var(--darkbrown);
}

/* MAIN CONTAINER */
.container {
    position: relative;
    padding-top: 50px;
}

/* NAVBAR */
.navbar-container {
    position: relative;
    overflow: hidden;
}

.navbar {
    z-index: 1000;
    width: 100%;
    font-size: 16px;
    font-family: var(--ff-PlusJakartaSans);
}

.navbar-brand {
    font-size: 16px;
}

/* HOMEPAGE */
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -55%);
}

/* LOGIN/SIGNUP */
.split-container {
    display: flex;
    height: 100%;
}

.image-half {
    flex: 1;
    background: url('/static/img/coffee-bg-crop.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.color-half {
    position: relative;
    flex: 1;
}

.login-form,
.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.form-control {
    border-radius: 15px;
    height: 45px;
    background-color: var(--white);
}

/* DASHBOARD/SEARCH RESULTS */
.searchbar {
    border-radius: 15px;
    padding: 15px;
    background-color: var(--white);
}

.separator {
    margin: 0 10px;
    width: 1px;
    height: 30px; 
    background-color: var(--darkbrown);
}

.cafe {
    border-radius: 30px;
    max-width: 100vw;
    max-height: 100vh;
    width: 1000px;
    padding: 50px;
    background-color: var(--white);
}

.cafe-img,
.bookmark-img {
    max-width: 480px;
    max-height: 350px;
    text-align: center;
}

.cafe-img img {
    width: 80%;
    height: 250px;
}

.cafe-details {
    width: auto;
}

/* BOOKMARKS */
.bookmark {
    max-width: 100vw;
    max-height: 100vh;
    width: 1000px;
    padding: 50px;
}

.bookmark-img img {
    width: 250px;
    height: 250px
}

.notes-content {
    white-space: pre-wrap;
}

.show-textbox,
.close-textbox {
    border: none;
    background-color: transparent;
}

.add-note {
    padding: 0;
}

hr.divider {
    border: 1px solid var(--darkbrown);
    width: 1100px;
}

/* CAFE DETAILS PAGE */
.cafe-details-img {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.cafe-details-img img {
    width: 400px;
    height: 400px;
}

td.first-row {
    padding-right: 30px;
}

td.second-row.t2 {
    padding-left: 20px;
    padding-right: 30px;
}

/* LINKS */
.navbar-brand:link,
.navbar-brand:visited,
.nav-link:link,
.nav-link:visited {
    color: var(--darkbrown);
    background-color: transparent;
    text-decoration: none;
}

.nav-link:active {
    color: var(--lightbrown);
    background-color: transparent;
    text-decoration: none;
}

a:link, 
a:visited {
    color: var(--mediumbrown);
    background-color: transparent;
    text-decoration: none;
}

a:hover,
.navbar-brand:hover,
.nav-link:hover {
    color: var(--mediumbrown);
    background-color: transparent;
    text-decoration: underline;
    transition: 0.2s;
}