<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Coffee Notes: {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            {% if not 'user_id' in session.keys() %}
                <a href="/"><li>Home</li></a>
                <a href="/login"><li>Log In</li></a>
                <a href="/signup"><li>Sign Up</li></a>
            {% endif %}

            {% if 'user_id' in session.keys() %}
                <a href="/dashboard"><li>Home</li></a>
                <a href="/profile/{{ session['user_id'] }}"><li>Profile</li></a>
                <a href="/mybookmarks"><li>My Bookmarks</li></a>
                <a href="/logout"><li>Sign Out</li></a>
            {% endif %}
        </ul>
    </nav>

    {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
            {{ msg }}
        </p>
    {% endfor %}

    {% block body %}{% endblock %}
</body>
</html>