{% extends 'base.html' %}

{% block title %}Bookmarked Cafes{% endblock %}

{% block body %}
<h1> {{ user.fname }}'s Bookmarks</h1>
    
    {% for bookmark in bookmarks %}
        <div>
            <section id="bookmarkcafe-info">
                <h3>{{ bookmark.cafe.name }}</h3>
                <h5>Address:</h5>
                <p>{{ bookmark.cafe.address}} <br>
                {{ bookmark.cafe.city }} {{ bookmark.cafe.state }} {{ bookmark.cafe.zip_code}}</p>
                <h5>Phone Number:</h5> 
                <p>{{ bookmark.cafe.phone }}<br>
                <a href="/cafe/{{ bookmark.cafe.cafe_id }}">More Details</a></p>
            </section>

            <section id="remove-bookmark">
                <form id="remove-bookmarkcafe">
                    <input type="hidden" id="bookmarkcafe-id" value="{{ bookmark.cafe.cafe_id }}">
                    <button type="submit" id="removebookmark-button">Remove Bookmark</button>
                </form>
            </section>
            
            <span id="removebookmark-status"></span>
        </div>
        <br>
    {% endfor %}

    <script src="/static/js/removeBookmark.js"></script>

{% endblock %}