{% extends "base.html" %}

{% block title %}{{ user.fname }}'s Bookmarks{% endblock %}

{% block body %}
<h1>My Bookmarks</h1>
{% for bookmark in bookmarks %}
    <h2><a href="/cafe/{{ bookmark.cafe_id }}">{{ bookmark.cafe.name }}</a></h2>
    <p>Address:</p>
    <p>{{ bookmark.cafe.address }}</p>

    <!-- Add Notes -->
    <h4>My Notes:</h4>
    {% if bookmark.note %}
        {% for note in bookmark.note %}
            <p>{{ note.note }}</p>
            <button class="show-textbox" id="show-{{ bookmark.bookmark_id }}">Edit Note</button>
            <div class="notes-textbox" id="notes-{{ bookmark.bookmark_id }}">
            <form action="/note/{{ bookmark.bookmark_id }}" method="POST">
                <textarea name="cafe-note">{{ note.note }}</textarea><br>
                <button type="submit">Update Note</button>
            </form>
            <button class=close-textbox" id="close-{{ bookmark.bookmark_id }}">Cancel</button>
            </div>
        {% endfor %}
    {% else %}
        <button class="show-textbox" id="show-{{ bookmark.bookmark_id }}">Add Note</button>
        <div class="notes-textbox" id="notes-{{ bookmark.bookmark_id }}">
        <form action="/note/{{ bookmark.bookmark_id }}" method="POST">
            <textarea name="cafe-note"></textarea><br>
            <button type="submit">Update Note</button>
        </form>
        <button class="close-textbox" id="close-{{ bookmark.bookmark_id }}">Cancel</button>
        </div>
    {% endif %}

    <!-- Remove Bookmark -->
    <form action="/mybookmarks/removebookmark" method="POST">
        <input type="hidden" name="cafe-id" value="{{ bookmark.cafe.cafe_id }}">
        <button type="submit">Remove From Bookmarks</button>
    </form>

{% endfor %}

<script src="/static/js/bookmarks.js"></script>
{% endblock %}