{% extends 'base.html' %}

{% block title %}{{ cafe.name }}{% endblock title %}

{% block body %}
<h1>{{ cafe.name }}</h1>
<img src="{{ cafe.img_url }}" alt="">

    <div>
        <h4>Address:</h4>
        <p>{{ cafe.address}} <br>
        {{ cafe.city }} {{ cafe.state }} {{ cafe.zip_code}}</p>
        <h4>Phone Number:</h4> 
        <p>{{ cafe.phone }}</p>
    </div>

    {% if 'user_id' in session.keys() %}
        {% if not bookmarked %}
            <section id="bookmark">
                <form id="bookmark-cafe">
                    <input type="hidden" id="cafe-id" value="{{ cafe.cafe_id }}">
                    <button type="submit" id="bookmark-button">Bookmark This Cafe</button>
                </form>
                <span id="bookmark-status"></span>
            </section>
        {% endif %}

        {% if bookmarked %}
            <section id="bookmark">
                <form id="bookmark-cafe">
                    <input type="hidden" id="cafe-id" value="{{ bookmarked.cafe.cafe_id }}">
                    <button type="submit" id="bookmark-button">Remove Bookmark</button>
                </form>
                <span id="bookmark-status"></span>
            </section>
        {% endif %}

        <br>

        {% if not visited %}
        <section id="cafe-visit">
            <form id="cafe-visit">
                <input type="hidden" id="cafe-id" value="{{ cafe.cafe_id }}">
                <button type="submit" id="visit-button">Add to My Cafes</button>
            </form>
            <span id="cafe-visit-status"></span>
        </section>
        {% endif %}


        {% if visited %}
        <section id="cafe-visit">
            <form id="cafe-visit">
                <input type="hidden" id="cafe-id" value="{{ visited.cafe.cafe_id }}">
                <button type="submit" id="visit-button">Remove from My Cafes</button>
            </form>
            <span id="cafe-visit-status"></span>
        </section>
        {% endif %}

        <br>
        <section id="review-cafe">
            <form action="/cafe/{{ cafe.cafe_id }}/review" method="POST">
                <p>
                    <label for="review">Write a Review:</label><br>
                    <textarea name="review" id="review" required=""></textarea>
                </p>
                <p><input type="submit"></p>
            </form>
        </section>
    
    {% endif %}

    <section id="customer-reviews">
        <h3>Customer Reviews</h3>
        {% for review in reviews %}
            <p><b><a href="/profile/{{ review.user.user_id }}">{{ review.user.fname }} {{ review.user.lname }}</a>:</b></br>
            {{ review.review }}</p>
        {% endfor %}
    </section>

    <script src="/static/js/bookmark.js"></script>
    <script src="/static/js/cafeVisit.js"></script>

{% endblock body %}