{% extends "base.html" %}

{% block title %}{{ cafe.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/maps.css"/>

{% endblock %}

{% block body %}
<img src="{{ cafe.img_url }}" alt="Image from {{ cafe.name }}">

<h1>{{ cafe.name }}</h1>

<h4>{{ cafe.name }} is a coffee shop located in {{ cafe.city }}, {{ cafe.state }}.</h4>

<h4>Address:</h4>
<p>{{ cafe.address }}</p>
<h4>Phone:</h4>
<p>{{ cafe.phone }}</p>
<h4>Hours:</h4>
<table>
{% for day, hours in cafe_hours.items() %}
    <tr>
        <td>{{ day }}</td>
        <td>{{ hours }}</td>
    </tr>
{% endfor %}
</table><br>


{% if not bookmarked %}
    <form action="/bookmark" method="POST">
        <input type="hidden" name="cafe-id" value="{{ cafe.cafe_id }}">
        <button type="submit">Add to Bookmarks</button>
    </form>
{% else %}
    <form action="/removebookmark" method="POST">
        <input type="hidden" name="cafe-id" value="{{ cafe.cafe_id }}">
        <button type="submit">Remove From Bookmarks</button>
    </form>
{% endif %}

<section class="map">
    <h1>Location</h1>
    <div id="map">
        <input type="hidden" id="map-lat" name="map-lat" value="{{ cafe.latitude }}" />
        <input type="hidden" id="map-lng" name="map-lng" value="{{ cafe.longitude }}" />
    </div>
</section>

<p hidden id="cafe-name">{{ cafe.name }}</p>

<script src="/static/js/cafeDetails.js"></script>
<script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Jh72sPHFvdtUJfmEI3MBbfmtYFt8mPw&callback=initMap">
</script>

{% endblock %}