{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block head %}
<style>
    .alert {
        margin-top: 30px;
    }

    .alert-container {
        position: absolute;
        width: 100%;
        top: 6px;
        padding: 20px 0px;
        box-sizing: border-box;
        z-index: 1000;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row split-container">
        <div class="col-md-6 color-half">
            <div class="login-form">
                <h4>Log In</h4>
                <h2>Welcome Back!</h2>
                <form action="/login" method="POST">
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password *</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn form-btn">Log In</button>
                    </div>
                </form>
                <div class="signup">
                    <span>Don't have an account yet? <a href="/signup"><u>Click here to sign up.</u></a></span>
                </div>
            </div>
        </div>
        <div class="col-md-6 image-half"></div>
    </div>
</div>

{% endblock %}