{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block head %}

<style>

body {
  background-image: url("/static/img/homepage-bg.jpg");
  background-position: 35% 35%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.details {
  font-family: Gloock;
}

.container {
  padding: 25x 30px;
  border-radius: 5px;
  margin-top: 10%;
}

.container .title {
  font-size: 40px;
  font-family: Gloock;
  position: relative;
}

.input-box {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

input {
  background-color: #FFF6F1;
  border-radius: 10px;
  height: 42px;
  width: 450px;
  border: 0px;
}

p {
  margin-top: 1%;
}

</style>

{% endblock %}

{% block body %}
<div class="container">
    <div class="title">Log In</div>
    <h4>The best days start with a cup of coffee.</h4>

    <form action="/login" method="POST">
        <div class="input-box">
            <span class="details">Email*</span><br>
            <input type="text" name="email" id="user-email" placeholder=" Enter your email">
        </div>
        
        <div class="input-box">
            <span class="details">Password*</span><br>
            <input type="password" name="password" id="user-password" placeholder=" Enter your password">
        </div>

        <div class="button">
            <button type="submit" class="submit-btn">Log In</button>
        </div>
    </form>

    <p>Don't have an account? <a href="/signup"><u>Click here to sign up.</u></a></p>

</div>
{% endblock %}