{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block body %}
<h4>Log In</h4>
<h2>Welcome Back!</h2>
<form action="/login" method="POST">

    <label for="email">Email*</label>
    <input type="text" id="email" name="email" required=""><br>

    <label for="password">Password*</label>
    <input type="password" id="password" name="password" required=""><br>
    
    <button type="submit">Log In</button>
</form>
<p>Don't have an account? <a href="/signup"><u>Click here to sign up.</u></a></p>
{% endblock %}