{% extends 'base.html' %}

{% block title %}My Cafes{% endblock %}

{% block head %}
<style>
    html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    }

    .map,
    #map {
    width: 100%;
    height: 100%;
    }

</style>
{% endblock %}

{% block body %}
<h1> {{ user.fname }}'s Cafes</h1>
<h5>Keep track of your bookmarked cafes.</h5>
<br>

<section class="map">
    <div id="map"></div>
</section>
    
    {% for bookmark in bookmarks %}
        <div>
            <section id="bookmark-cafe-info">
                <h3>{{ bookmark.cafe.name }}</h3>
                <h5>Address:</h5>
                <p>{{ bookmark.cafe.address}} <br>
                {{ bookmark.cafe.city }} {{ bookmark.cafe.state }} {{ bookmark.cafe.zip_code}}</p>
                <h5>Phone Number:</h5> 
                <p>{{ bookmark.cafe.phone }}<br>
                <a href="/cafe/{{ bookmark.cafe.cafe_id }}">More Details</a></p>
            </section>

            <section id="remove-notes">
                <h5>My Notes:</h5>
                {% for note in bookmark.note %}
                <li>{{ note.note }} 
                    <form action="/mycafes/{{ note.note_id }}/removenote" method="POST">
                        <button type="submit" id="remove-note-button">Delete Note</button>
                    </form>
                </li>
                {% endfor %}
            </section>
        
            <section id="add-notes">
                <form action="/mycafes/{{ bookmark.bookmark_id }}/addnote" method="POST">
                    <label for="add-note">Write a Note:</label>
                    <br>
                    <textarea name="add-cafe-note" id="add-cafe-note" required=""></textarea>
                    <br>
                    <button type="submit" id="add-note-button">Add Note</button>
                </form>
            </section>

            <section id="remove-bookmark">
                <form id="remove-bookmark">
                    <input type="hidden" id="remove-bookmark-id" value="{{ bookmark.cafe.cafe_id }}">
                    <button type="submit" id="remove-bookmark-button">Remove Cafe</button>
                </form>
            </section>
            
            <span id="remove-bookmark-status"></span>
        </div>
        <br>
    {% endfor %}

    <script src="/static/js/myCafes.js"></script>
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQPR_vJE_b_gHiQdzfz5M-IK84PYPASCg&libraries=places&callback=initMap">
    </script>

{% endblock %}