{% extends 'base.html' %}

{% block title %}My Cafes{% endblock %}

{% block head %}
<style>
    html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    }

    .map,
    #map {
    width: 100%;
    height: 100%;
    }

</style>
{% endblock %}

{% block body %}
<h1> {{ user.fname }}'s Cafes</h1>
<h5>Keep track of all the cafes you already visited.</h5>
<br>

<section class="map">
    <div id="map"></div>
</section>
    
    {% for visit in visits %}
        <div>
            <section id="visitcafe-info">
                <h3>{{ visit.cafe.name }}</h3>
                <h5>Address:</h5>
                <p>{{ visit.cafe.address}} <br>
                {{ visit.cafe.city }} {{ visit.cafe.state }} {{ visit.cafe.zip_code}}</p>
                <h5>Phone Number:</h5> 
                <p>{{ visit.cafe.phone }}<br>
                <a href="/cafe/{{ visit.cafe.cafe_id }}">More Details</a></p>
            </section>

                <section id="my-cafe-notes">
                    {% for note in visit.note %}
                    <h5>My Notes:</h5>
                    <li>{{ note.note }} 
                        <form action="/mycafes/{{ note.note_id }}/removenote" method="POST">
                            <button type="submit" id="removenote">Delete Note</button>
                        </form>
                    </li>
                    {% endfor %}
                </section>
        
            <section id="cafe-note">
                <form action="/mycafes/{{ visit.visit_id }}/addnote" method="POST">
                    <label for="cafe-note">Write a Note:</label>
                    <br>
                    <textarea name="cafe-note" id="cafe-note" required=""></textarea>
                    <br>
                    <button type="submit" id="add-cafe-note-button">Add Note</button>
                </form>
            </section>

            <br>
            <section id="remove-visitcafe">
                <form id="remove-visitcafe">
                    <input type="hidden" id="visitcafe-id" value="{{ visit.cafe.cafe_id }}">
                    <button type="submit" id="remove-visit-button">Remove Cafe</button>
                </form>
            </section>
            
            <span id="remove-visit-status"></span>
        </div>
        <br>
    {% endfor %}

    <script src="/static/js/myCafes.js"></script>
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQPR_vJE_b_gHiQdzfz5M-IK84PYPASCg&libraries=places&callback=initMap">
    </script>

{% endblock %}