{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
<h1>{{ user.fname }}'s Profile</h1>
<h3>Name: {{ user.fname }} {{ user.lname }}</h3>
<h3>Email: {{ user.email }}</h3>

<br>
<h3>{{ user.fname }}'s Cafe Reviews:</h3>
{% for review in reviews %}
<b><a href="/cafe/{{ review.cafe.cafe_id }}">{{ review.cafe.name }}</a>:</b>
<p>"{{ review.review }}"</p>
    {% if user.user_id == session['user_id'] %}
    <form action="/profile/{{ review.review_id }}/removereview" method="POST">
    <button type="submit" id="removereview">Delete Review</button>
    </form>
    {% endif %}
{% endfor %}

{% endblock %}