{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
<section id="user-information">
    <h1>{{ user.fname }}'s Profile</h1>
    <h3>Name: {{ user.fname }} {{ user.lname }}</h3>
</section>

<br>

<section id="add-user-recommendation">
    <h3>{{ user.fname }}'s Cafe Recommendation:</h3>
    {% if user.user_id == session['user_id'] %}
        <form action="/profile/{{ user.user_id }}/addrecommendation">
            <label for="cafe-select">Choose a cafe from your bookmarks:</label><br>
                <select name="recommendation" id="cafe-recommendation">
                    {% for bookmark in bookmarks  %}
                        <option value="{{ bookmark.cafe.cafe_id }}">{{ bookmark.cafe.name }}</option>
                    {% endfor %}
                </select>
            <button type="submit" id="add-recommendation-button">Submit</button>
        </form>
    {% endif %}

    {% if recommendation %}
        <section id="display-recc">
            <h4><a href="/cafe/{{ recommendation.cafe.cafe_id }}">{{ recommendation.cafe.name}}</a></h4>
            {% if user.user_id == session['user_id'] %}
            <form id="remove-recc">
                <input type="hidden" id="remove-recc-id" value="{{ recommendation.recommendation_id }}">
                <button type="submit" id="remove-recc-button">Remove Recommendation</button>
            </form>
            {% endif %}
        </section>
    {% endif %}
    <span id="remove-recc-status"></span>
</section>

<br>

<section id="user-reviews">
    <h3>{{ user.fname }}'s Cafe Reviews:</h3>
    
    {% for review in reviews %}
        <section id="user-review-{{ review.cafe.cafe_id }}">
        <b><a href="/cafe/{{ review.cafe.cafe_id }}">{{ review.cafe.name }}</a>:</b>
        <p>"{{ review.review }}"</p>
        {% if user.user_id == session['user_id'] %}
            <form id="{{ review.cafe.cafe_id }}" class="remove-review">
                <input type="hidden" id="remove-review-id-{{ review.cafe.cafe_id }}" value="{{ review.cafe.cafe_id }}">
                <button type="submit">Delete Review</button>
            </form>
        
        {% endif %}
        </section>
        <span id="remove-review-status"></span>
    {% endfor %}
</section>

<script src="/static/js/profile.js"></script>
{% endblock %}