{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block head %}
<style>

body {
    background-image: url("/static/img/user-bg.jpg");
    background-color: #FFF6F1;
    background-position: 34% 65%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    padding: 5px;
}

.details {
    font-family: Gloock;
  }


.container {
    height: auto;
    width: 775px;
    margin-top: 2%;
    border-radius: 10px;
    background-color: rgba(231, 218, 199, 1);
}

.row {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
}

input {
    background-color: #FFF6F1;
    border-radius: 10px;
    height: 42px;
    width: 450px;
    border: 0px;
  }

#edit-user-info {
    margin-top: 0%;
}

#edit-recommendation {
    margin-top: 4%;
}

</style>

{% endblock %}


{% block body %}

<div class="container">
    <div class="px-4 py-4 my-4 text-center">
        <h1>{{ user.fname }} {{ user.lname }}</h1> 
    <div class="row">
        {% if user.user_id == session['user_id'] %}
            <section id="edit-user-info">
                <center><button id="edit-info-btn" class="submit-btn">Edit Profile</button></center>
                <form action="/profile/{{ user.user_id }}/editinformation" id="edit-info" method="POST">
                    <span class="details">First Name*:</span><br>
                    <input type="text" name="fname" value="{{ user.fname }}" required=""><br>
                    <span class="details">Last Name*:</span><br>
                    <input type="text" name="lname" value="{{ user.lname }}" required=""><br>
                    <span class="details">About Me:</span><br>
                        {% if user.about_me %}
                            <textarea name="about-me">{{ user.about_me }}</textarea><br>
                        {% else %}
                            <textarea name="about-me"></textarea><br>
                        {% endif %}

                    <span class="details">Email*:</span><br>
                    <input type="text" name="email" value="{{ user.email }}" required=""><br>
                    <span class="details">Password:</span><br>
                    <input type="password" name="password" default="{{ user.password }}"><br>
                    <button type="submit" class="submit-btn">Save Changes</button>
                </form>
            
                {% if user.user_id == session['user_id'] %}
                <form action="/profile/{{ user.user_id }}/addrecommendation" id="edit-recommendation">
                    <span class="details">Choose your favorite cafe from your bookmarks:</span><br>
                        <select name="recommendation" id="cafe-recommendation" required="">
                            <option value="">Select a Cafe</option>
                            {% for bookmark in bookmarks  %}
                                <option value="{{ bookmark.cafe.cafe_id }}">{{ bookmark.cafe.name }}</option>
                            {% endfor %}
                        </select><br>
                    <button type="submit" id="add-recommendation-button" class="submit-btn">Submit</button>
                </form>

            {% endif %}

            </section>
        {% endif %}

        <br>
        <section id="user-information">
            <h3>About Me:</h3> 
            {% if user.about_me %}
            {{ user.about_me }}
            {% endif %}
        </section>
    </div>

    <hr>

    <div class="row">
        <h3>My Favorite Coffee Spot:</h3>
        <section id="add-user-recommendation">
            {% if recommendation %}
                <section id="display-recc">
                    <br>
                    <h4><a href="/cafe/{{ recommendation.cafe.cafe_id }}">{{ recommendation.cafe.name}}</a></h4>
                    {% if user.user_id == session['user_id'] %}

                    <br>
                    <form id="remove-recc">
                        <input type="hidden" id="remove-recc-id" value="{{ recommendation.recommendation_id }}">
                        <button type="submit" class="submit-btn">Remove Recommendation</button>
                    </form>
                    {% endif %}
                </section>
            {% endif %}
            <span id="remove-recc-status"></span>
        </section>
    </div>

    <hr>

    <div class="row">
        <section id="user-reviews">
            <h3>{{ user.fname }}'s Cafe Reviews:</h3>
            
            {% for review in reviews|sort(attribute='time_created', reverse = True) %}
                <section id="user-review-{{ review.cafe.cafe_id}}">
                    <b><a href="/cafe/{{ review.cafe.cafe_id }}">{{ review.cafe.name }}</a>:</b><br>
                    {{ review.rating }} Stars, {{ review.time_created.strftime("%m/%d/%y") }}<br>
                    "{{ review.review }}"
                    {% if user.user_id == session['user_id'] %}
            
                        <section id="remove-review">
                        <form id="{{ review.cafe.cafe_id }}" class="remove-review">
                            <input type="hidden" id="remove-review-id-{{ review.cafe.cafe_id }}" value="{{ review.cafe.cafe_id }}">
                            <button type="submit" class="action-btn"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                        </section>
                    
                    {% endif %}
                </section>
                <span id="remove-review-status"></span>
                <br>

            {% endfor %}
        </section>
    </div>
</div>
</div>

<script src="/static/js/profile.js"></script>
{% endblock %}