{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<h4>Sign Up</h4>
<h2>Create an Account</h2>
<form action="/signup" method="POST">
    <label for="fname">First Name*</label>
    <input type="text" id="fname" name="fname" required=""><br>

    <label for="lname">Last Name*</label>
    <input type="text" id="lname" name="lname" required=""><br>

    <label for="email">Email*</label>
    <input type="text" id="email" name="email" required=""><br>

    <label for="password">Password*</label>
    <input type="password" id="password" name="password" pattern=".{8,}" title="Password must be at least 8 characters." required=""><br>
    
    <button type="submit">Create Account</button>
</form>
<p>Already have an account? <a href="/login"><u>Click here to log in.</u></a></p>
{% endblock %}